/* src/styles/index.css */
.App {
  text-align: center;
}

.card {
  margin: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
